**1**  
Ans:  (*) --- Expression

('hello') --- *Value* 

(-) --- Expression

(/) ---- Expression

(+) ----- Expression

(6) ----- Value

**2**

Ans : 
**String** : String can be written in quotes such as: "Vaibhav", "ineuron"

**Variable** : Variable is a kind of intity where we can store a data which we can process in a run time. It is like a container.

Ex :  a = 10

Here  'a' is a variable and '10' is a values which is stored in a box name 'a'.

**3**

Ans: **Integer** : Integer is a data type which is represented as **int**, that store only whole numbers. **Ex**: 1,2,15,14,..

**Float** : Float is a also a data type which is represented as **float**, that can only store decimal values. **Ex**: 23.33 , 15.01 , 20.13,... 

**List** : A list is an intity where we can store multiple data items in a single variable. We represent list in a square bracket.
 **Ex**: a = [1, 2 , 3 , "Vaib"]

**4**

Ans: Expressions are made up of mathematical operators and values. **E.g**  c = 12 + 15

 Expressions are used to represent the result on the screen.

**5**

 Ans: Expressions are made up of mathematical operators and values.
 
Statement is just like a command which give as any output

**6**

In [2]:
bacon = 22

In [3]:
bacon + 1

23

Ans: 23

**7**

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

Ans: 'spam' + 'spamspam' = 'spamspamspam'

'spam' * 3 = 'spamspamspam'

**8**

In [6]:
eggs = 13

In [7]:
100 = 13

SyntaxError: cannot assign to literal (1566121009.py, line 1)

In [9]:
100q = 13

SyntaxError: invalid syntax (247169323.py, line 1)

In [8]:
w100 = 13

Ans : We can't give variable an integer name. If we want, it should begin with a alphabet name then integer.

**9**

In [12]:
a = str(1)

In [13]:
type(a)

str

In [19]:
b = int(12.1)

In [20]:
type(b)

int

In [21]:
c = float(1545)

In [22]:
type(c)

float

Ans : str(), int(), float()

**10**

In [23]:
a = 'I have eaten' + 99 + 'burritos'
a

TypeError: can only concatenate str (not "int") to str

Ans : Because 99 is an integer it can not be concatenate with strings. If we want to concatenate it, first we have to convert 99 into string.

In [24]:
#1.

a  = 'I have eaten' + str(99) + 'burritos.'
a

'I have eaten99burritos.'

In [27]:
#2

a  = 'I have eaten' + "99" + 'burritos.'
a

'I have eaten99burritos.'