Ans : 1

In [1]:
def factorialNumber():
    factorial = 1
    num = int(input("Enter a number: "))
    if num < 1:
        return 1
    else:
        for i in range(1,num+1):
            factorial = factorial*i
        return("Factorial of {} is {}".format(num, factorial))

In [2]:
factorialNumber()

Enter a number: 5

'Factorial of 5 is 120'

Ans: 2

In [12]:
def table(base,entries):
    for i in range(1,entries+1):
        print(f'{base} X {i} = {base*i}')
        
num = int(input('Enter a number: '))
values = int(input('Enter number of entries: '))
    
table(num,values)

Enter a number: 5
Enter number of entries: 10
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Ans: 3

In [13]:
def genfib():
    a=1
    b=1
    l=[]
    n = int(input("Enter the no of fibonacci sequences you want?: "))
    for i in range(n):
        l.append(a)
        a,b = b, a+b
    return l

In [14]:
genfib()

Enter the no of fibonacci sequences you want?: 10

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Ans: 4

In [17]:
num = int(input("Enter number to check: "))
rem = 0
s = 0
temp = num
while temp>0:
    rem = temp%10
    s = s + rem**3
    temp = temp//10
if num==s:
    print("its armstrong number")
else:
    print("not armstrong number")

Enter number to check: 153
its armstrong number

Ans: 5

In [29]:
lower = int(input("Enter lower limit of interval: "))
upper = int(input("Enter upper limit of interval: "))
for num in range(lower, upper + 1):
    order = len(str(num))
    # initialize sum
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10

    if num == sum:
        print( num)

Enter lower limit of interval: 100
Enter upper limit of interval: 2000
153
370
371
407
1634

Ans : 6

In [32]:
def sumOfNaturalNumbers():
    num = int(input('Enter a number: '))
    sum = num*((num+1)/2)
    print(f'Sum of {num} natural numbers is {sum}')

In [33]:
sumOfNaturalNumbers()

Enter a number: 100
Sum of 100 natural numbers is 5050.0

In [34]:
sumOfNaturalNumbers()

Enter a number: 10
Sum of 10 natural numbers is 55.0